<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Veterinaria</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-toolbar>

      <ion-img src="assets/img/logo.jpg"></ion-img>
    </ion-toolbar>

    <ion-item-divider>
      <ion-button size="large" href="/register">Registrarse</ion-button>

      <ion-button size="large" href="/login">Inicio de sesion</ion-button>
    </ion-item-divider>

  </div>
</ion-content>
